.permanent-marker-regular-font {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}


.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

.open-sans-font-sm {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.gradient-text {
    background-image: linear-gradient(to right, #fa4918 0%, #ef9d2a 51%, #f46b45 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bg-color {
    background-color: #0d0d0d;
}